CodeWizards.TestClient/Service References/CodeWizardsServer/CodeWizardsServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeWizardsServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65170/CodeWizardsServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65170/CodeWizardsServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65170/CodeWizardsServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeWizards.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeWizardsServer_WriteScroll_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteScroll" />
  </wsdl:message>
  <wsdl:message name="ICodeWizardsServer_WriteScroll_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteScrollResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeWizardsServer_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="ICodeWizardsServer_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeWizardsServer_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="ICodeWizardsServer_Leave_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeWizardsServer_GetUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdate" />
  </wsdl:message>
  <wsdl:message name="ICodeWizardsServer_GetUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeWizardsServer">
    <wsdl:operation name="WriteScroll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWizardsServer/WriteScroll" message="tns:ICodeWizardsServer_WriteScroll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWizardsServer/WriteScrollResponse" message="tns:ICodeWizardsServer_WriteScroll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWizardsServer/Join" message="tns:ICodeWizardsServer_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWizardsServer/JoinResponse" message="tns:ICodeWizardsServer_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWizardsServer/Leave" message="tns:ICodeWizardsServer_Leave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWizardsServer/LeaveResponse" message="tns:ICodeWizardsServer_Leave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWizardsServer/GetUpdate" message="tns:ICodeWizardsServer_GetUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWizardsServer/GetUpdateResponse" message="tns:ICodeWizardsServer_GetUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeWizardsServer" type="tns:ICodeWizardsServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteScroll">
      <soap:operation soapAction="http://tempuri.org/ICodeWizardsServer/WriteScroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap:operation soapAction="http://tempuri.org/ICodeWizardsServer/Join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap:operation soapAction="http://tempuri.org/ICodeWizardsServer/Leave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <soap:operation soapAction="http://tempuri.org/ICodeWizardsServer/GetUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeWizardsServer">
    <wsdl:port name="BasicHttpBinding_ICodeWizardsServer" binding="tns:BasicHttpBinding_ICodeWizardsServer">
      <soap:address location="http://localhost:65170/CodeWizardsServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>