CodeWizards.TestClient/Service References/CodeWizardsServer/CodeWizardsServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CodeWizards.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodeWizards.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorldUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveSpells" nillable="true" type="tns:ArrayOfSpellInstance" />
      <xs:element minOccurs="0" name="LastDelvedEntities" nillable="true" type="tns:ArrayOfEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorldUpdate" nillable="true" type="tns:WorldUpdate" />
  <xs:complexType name="ArrayOfSpellInstance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpellInstance" nillable="true" type="tns:SpellInstance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpellInstance" nillable="true" type="tns:ArrayOfSpellInstance" />
  <xs:complexType name="SpellInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpellInstance" nillable="true" type="tns:SpellInstance" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Position" nillable="true" type="tns:Vector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="Vector">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Vector" nillable="true" type="tns:Vector" />
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
</xs:schema>